# Entorno virtual (Nunca se sube)
venv/

# Carpeta de Python temporal (Nunca se sube)
__pycache__/
*.pyc

# Base de datos local (Contiene tus datos reales, no se sube)
instance/

# Archivos de configuración del sistema o VS Code
.DS_Store
.vscode/